.login-form {
    padding: 1rem 1rem;
}

mat-card {
    max-width: 300px;
    margin: 2rem auto;
    text-align: center;
    /* height: 500px; */
}

.full-width-input,
button {
    width: 100%;
}

.separator {
    margin-bottom: 2rem;
}

h1 {
    font-family: 'Oswald', sans-serif;
    background: white;
    margin-bottom: 1rem;
}

.example-container .mat-form-field {
    width: 100% !important;
    margin-bottom: 1rem;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}