<div class="main">
    <form action="" class="login">
        <h3 class="title">REGISTRARSE</h3>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        <fieldset>
            <input type="hidden" name="_token" id="token" value="alfnlaks">
            <!-- Aqui pondria un angular material input -->
            
            <!-- Aqui es el fin de los inputs -->
            <input type="submit" value="Iniciar sesión" id="submit-login" name="submit-login">
        </fieldset>
    </form>
</div>
