* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-options-container {
    position: relative;
    height: 100%;
    width: 200px;
    color: #ffff;
    box-shadow: 5px 0px 20px rgb(0, 0, 0, .2);
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.menu-title {
    position: relative;
    padding: 1rem;
    letter-spacing: 1px;
    font-style: italic;
}

.hamburguer {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.hamburguer::after {
    content: '=';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;

    display: flex;
    place-content: center;
    align-content: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.hamburguer:active::after {
    background-color: #888;
}

.menu-options {
    list-style: none;
    margin-top: 1em;
}

.option {
    padding: .8rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffff;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.option i {
    padding: 0 .5rem;
    font-size: 1.5rem;
}

.option:hover {
    cursor: pointer;
    background-color: #444;
    color: #ededed;
}

.option:active {
    background-color: #555;
    color: #ccc;
}

@media only screen and (max-width: 780px) {
    .hamburguer {
        display: initial;
    }

    .menu-options-container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .hamb {
        height: 54px !important;
        overflow: hidden;
    }

    .hamb>*:not(.menu-title) {

        pointer-events: none;
    }
}

@media only screen and (max-width: 480px) {}