<div class="menu-options-container colorprimary hamb">
    <h3 class="menu-title">CONTADOR <div class="hamburguer" (click)="displayMenu()"></div></h3>
    <h4 class="menu-title">Menú principal</h4>

    <ul class="menu-options">
        <li class="option" (click)="goToIncomes()">
            <i class="fas fa-chart-line"></i> Ver ingresos
        </li>
        <li class="option" (click)="goToHome()">
            <i class="fas fa-chart-line"></i> Ver gastos
        </li>
        <li class="option" (click)="goToProfile()">
            <i class="fas fa-search"></i> Consultar
        </li>
        <li class="option" (click)="showCreateOutcomeDialog()">
            <i class="fas fa-plus-square"></i> Nuevo gasto
        </li>
        <li class="option" (click)="showCreateIncomeDialog()">
            <i class="fas fa-plus-square"></i> Nuevo ingreso
        </li>
        <li class="option" (click)="closeSession()">
            <i class="fas fa-plus-square"></i> Cerrar sesión
        </li>
    </ul>
</div>