.main{
    display: flex;
    padding: 1em;
}

.container{
    display: flex;
    gap: 1em;
}

.dates .year{
    width: 170px;
    font-weight: 700;
    background: #141414;
    color: #fff;
    padding: .3em 0;
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-bottom: .3em;
    clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 0% 100%);
} .dates .year .yearly-total{
    font-size: .9rem;
    font-weight: 600;
    font-style: italic;
}
.dates li{
    cursor: default;
    list-style: none;
    padding: .3em .7em;
    background: #ededed;
    display: flex;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}.dates li:hover { background: #ababab; }
.dates > *:nth-child(2){
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}
.dates > *:last-child{
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}
.dates li .month{
    flex: 1 1 auto;
}


.last-transactions .title{
    font-size: 1.2em;
    margin-bottom: 1em;
}

.last-transactions .outcome{
    padding: .5em;
    margin-top: 1em;
    display: flex;
    /*justify-content: space-between;
    */gap: 1em;
    align-items: center;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.last-transactions .outcome:hover{
    background-color: #ccc;
}
.last-transactions .outcome .details{
    display: flex;
    flex-direction: column;
    gap: .2em;
    flex: 1 1 auto;
}
.last-transactions .outcome .outcome-amount{
    flex: 0 0 auto;
}

@media only screen and (max-width: 780px){
}

@media only screen and (max-width: 480px){
    .last-transactions{
        font-size: .9rem;
    }
    .last-transactions .outcome{
        border: 1px solid #ccc;
        flex-direction: column-reverse;
        align-items: start;
        position: relative;
        gap: 1em;
    }
    .last-transactions .outcome .icon{
        position: absolute;
        top: .5em;
        right: .5em;
    }
}