<app-nav></app-nav>
<div class="main">
  <div class="container">
    <ul class="dates">
      <span class="year">2021 <span class="yearly-total">$17,532</span></span>
      <li>
        <span class="month">Enero</span>
        <span class="total">$5340</span>
      </li>
      <li>
        <span class="month">Febrero</span>
        <span class="total">$520</span>
      </li>
      <li>
        <span class="month">Marzo</span>
        <span class="total">$451</span>
      </li>
      <li>
        <span class="month">Abril</span>
        <span class="total">$400</span>
      </li>
      <li>
        <span class="month">Mayo</span>
        <span class="total">$2300</span>
      </li>
      <li>
        <span class="month">Junio</span>
        <span class="total">$1015</span>
      </li>
      <li>
        <span class="month">Julio</span>
        <span class="total">$5340</span>
      </li>
      <li>
        <span class="month">Agosto</span>
        <span class="total">$452</span>
      </li>
      <li>
        <span class="month">Septiembre</span>
        <span class="total">$120</span>
      </li>
      <li>
        <span class="month">Octubre</span>
        <span class="total">$3200</span>
      </li>
      <li>
        <span class="month">Noviembre</span>
        <span class="total">$50</span>
      </li>
    </ul>
    <div class="outcomes-container">
      <app-date-range-picker></app-date-range-picker>
      <div class="last-transactions">
        <div class="title">
          Últimas transacciones
        </div>

        <!-- GASTOS -->

        <div class="outcome">
          <div class="icon">&%</div>
          <div class="details">
            <span class="description">GASOLINA</span>
            <span class="date">12 de noviembre de 2021 8:45 PM</span>
          </div>
          <div class="outcome-amount">
            $51550.00
          </div>
        </div>

        <div class="outcome">
          <div class="icon">&%</div>
          <div class="details">
            <span class="description">GASOLINA</span>
            <span class="date">12 de noviembre de 2021 8:45 PM</span>
          </div>
          <div class="outcome-amount">
            $5155045.00
          </div>
        </div>

        <div class="outcome">
          <div class="icon">&%</div>
          <div class="details">
            <span class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae totam facilis
              numquam commodi fuga dolor quis quaerat quia voluptatum sit, facere quo aliquam cum cumque fugit? Quia
              earum quis error!</span>
            <span class="date">12 de noviembre de 2021 8:45 PM</span>
          </div>
          <div class="outcome-amount">
            $550.00
          </div>
        </div>

        <div class="outcome">
          <div class="icon">&%</div>
          <div class="details">
            <span class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, nisi.</span>
            <span class="date">12 de noviembre de 2021 8:45 PM</span>
          </div>
          <div class="outcome-amount">
            $51550.00
          </div>
        </div>

        <div class="outcome">
          <div class="icon">&%</div>
          <div class="details">
            <span class="description">Lorem ipsum dolor sit amet.</span>
            <span class="date">12 de noviembre de 2021 8:45 PM</span>
          </div>
          <div class="outcome-amount">
            $51550.00
          </div>
        </div>

        <div class="outcome">
          <div class="icon">&%</div>
          <div class="details">
            <span class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere amet consequuntur
              expedita quaerat rem iste consectetur illum sed, exercitationem, ipsa consequatur error culpa quibusdam
              hic assumenda officiis rerum fugiat qui autem. Expedita quae eveniet minus deserunt voluptatibus sed
              accusamus architecto?</span>
            <span class="date">12 de noviembre de 2021 8:45 PM</span>
          </div>
          <div class="outcome-amount">
            $51550.00
          </div>
        </div>

      </div>
    </div>
  </div>
</div>