.main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    padding-top: 1em;
}

.username{
    padding-left: 2em;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
}

.profile-details-container{
    display:flex;
    justify-content: center;
    gap: 1.5em;
    padding: 1em;
}

.profile-details{
    flex: 0 1;
    flex-basis: 700px;
    background: #ededed;
    padding: .7em;
}
.profile-details .profile-inputs{
    display: flex;
    flex-direction: column;
}

.password-section{
    margin-bottom: .5em;
    position: relative;
}.password-section::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: black;
}

.btn-container{
    display:flex;
    gap: 1em;
}