<!--<app-nav></app-nav>-->
<div class="main">
    <div class="username">
        Perfil de {{datauser.name}}
    </div>
    <div class="profile-details-container">
        <mat-card class="profile-details" *ngIf="hide_spin; else elseBlock">

            <mat-card-content class="profile-inputs" *ngIf="hide_spin1; else elseBlock1">
                <span class="password-section"><h2>Cambiar Nombre de Usuario</h2></span>

                <mat-form-field appearance="outline">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput [type]="'text'" placeholder="{{datauser.name}}" value="{{datauser.name}}" [formControl]="dataname">
                    <mat-error *ngIf="false==dataname.valid!">Requerido*</mat-error>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button disabled [disabled]="false==dataname.valid!" color=primary (click)="changename()">Guardar cambios</button>
                    <button mat-raised-button color=warning (click)="none()">No guardar y Regresar al Home</button>
                </mat-card-actions>
                <span class="password-section"><h2>Cambiar Correo Electronico</h2></span>
                <mat-form-field appearance="outline">
                    <mat-label>Correo@template.com</mat-label>
                    <input matInput [type]="'text'" placeholder="{{datauser.email}}" value="{{datauser.name}}" [formControl]="dataemail">
                    <mat-error *ngIf="false==dataemail.valid">Requiere un Correo Electronico</mat-error>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button disabled [disabled]="false==dataemail.valid!" color=primary (click)="changeemail()">Guardar cambios</button>
                    <button mat-raised-button color=warning (click)="none()">No guardar y Regresar al Home</button>
                </mat-card-actions>

                <span class="password-section"><h2>Cambiar su contraseña<mat-icon class="right" matTooltip="Se enviará un correo a su correo actual para cambiar su contraseña.">info</mat-icon></h2></span>
                <button mat-raised-button color=primary (click)="changepassword()">Restablecer su contraseña</button>
            </mat-card-content>
        </mat-card>
    </div>
    <ng-template #elseBlock>
        <mat-card class="example-card display-middle">
            <mat-card-title>Actualizando Información</mat-card-title>
            <mat-card-content>
                <p>Espere un momento</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </ng-template>

    <ng-template #elseBlock1>
        <mat-card class="example-card display-middle">
            <mat-card-title>Enviando Información a su correo Electronico</mat-card-title>
            <mat-card-content>
                <p>Espere un momento</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </ng-template>
</div>