*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container{
    position: relative;
    padding: 0;
    display: flex;
}

.chart-container {
    flex: 1 1 auto;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 780px){
    .chart-container{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px){
    .chart-container{
        display: flex;
        flex-direction: column;
    }
}
