<div class="main">
    <div class="container">

        <!-- fechas -->
        <div class="date-container">
            <span class="year">{{getCurrentYear()}} <span class="yearly-total"> ${{totalYearlyActiveOutcomes}}</span></span>
            <ul class="dates">
                <li *ngFor="let month of monthsData; let indexMonth=index;">
                    <span class="month" (click)="setView(indexMonth)">{{month}}</span>
                </li>
            </ul>
        </div>
        <!-- Fin de lista de fechas -->

        <!-- Contenedor de la lista de gastos -->
        <div class="outcomes-container">

            <div class="btn-container">
                <button mat-button color="primary" (click)="shiftOutcomesView()">
                    <i class="fas fa-search"></i> Ver otros gastos
                </button>
                <span class="title">
                    <span class="date"> {{getMonth(selectedMonth)}}, {{getCurrentYear()}} </span>
                    <span class="amount"> ${{total}}</span>
                </span>
            </div>

            <!-- GASTOS -->
            <div *ngIf="isFilled(); else emptyMonth" class="outcomes-list">
                <div class="outcome {{'status-'+ statusOutcomesView}}" *ngFor="let outcome of outcomes | async">
                    <div class="icon">&%</div>
                    <div class="details">
                        <span class="description">{{outcome.concept}}</span>
                        <span class="date">{{printDate(outcome.date_outcome)}}</span>
                    </div>

                    <div class="outcome-amount">
                        ${{outcome.amount}}
                    </div>

                    <a mat-raised-button href="{{outcome.photo}}" target="_blank">Factura</a>

                    <button mat-button color="primary" (click)="deleteLog(outcome.id, outcome.status)">
                        <span>
                            <mat-icon>delete</mat-icon>
                        </span>
                    </button>
                    <button mat-button color="primary" (click)="showEditDialog(outcome)">
                        <span>
                            <mat-icon>edit</mat-icon>
                        </span>
                    </button>
                </div>
            </div>
            
            <ng-template #emptyMonth>
                <div class="outcomes-list">
                    <div class="no-outcome">
                        No hay gastos registrados en {{getMonth(selectedMonth)}}
                    </div>
                </div>
            </ng-template>
        </div> <!-- Fin de contenedor de lista de gastos -->
    </div> <!-- Fin de container -->
</div><!-- fin de main -->