<h1 mat-dialog-title>
    Editar Usuario </h1>
<div mat-dialog-content>
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="data.name" placeholder="">
    </mat-form-field>
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput [(ngModel)]="data.email" placeholder="">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button class="save-btn">Guardar</button>
</div>