<app-nav></app-nav>
<div *ngIf="auth.user | async as user; else showLogin">

    <div class="main" loading="lazy">
        <div class="username">
            <h1>Bienvenida/o {{ datauser1.name }}!</h1>
            <div>
                Se conectó por última vez el : {{datauser1.date_update}}
            </div>
        </div>

        <div class="container">
            <div class="outcomes-viewer">
                <div class="details">
                    <div class="title">GASTOS</div>
                    <button class="more-btn" (click)="goToOutcomes()">></button>
                </div>
                <div class="amount">${{total}}</div>
                <div class="last-transactions">
                    <div class="title">
                        Últimas transacciones
                    </div>

                    <!-- GASTOS -->
                    <div *ngIf="isFilled(); else emptyMonth" class="outcomes-list">
                        <div class="outcome" *ngFor="let outcome of outcomes | async">
                            <div class="icon">&%</div>
                            <div class="details">
                                <span class="description">{{outcome.concept}}</span>
                                <span class="date">{{printDate(outcome.date_outcome)}}</span>
                            </div>

                            <div class="outcome-amount">
                                ${{outcome.amount}}
                            </div>

                            <a mat-raised-button href="{{outcome.photo}}" target="_blank">Factura</a>
                        </div>
                    </div>

                    <ng-template #emptyMonth>
                        <div class="outcomes-list">
                            <div class="no-outcome">
                                No hay gastos registrados
                            </div>
                        </div>
                    </ng-template>
                </div> <!-- Fin de contenedor de lista de gastos -->
            </div>
        </div>
    </div>
</div>
<ng-template #showLogin>
    <p>Please login.</p>
</ng-template>