<div class="main">
    <form action="" class="login">
        <h3 class="title">INICIAR SESIÓN</h3>
        <fieldset>
            <input type="hidden" name="_token" id="token" value="alfnlaks">
            <label for="email"><span>Usuario</span> 
                <input type="text" name="email" id="email" placeholder="email">
            </label>
            <label for="password"><span>Contraseña</span>
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </label>
            
            <input type="submit" value="Iniciar sesión" id="submit-login" name="submit-login">
        </fieldset>
    </form>
</div>
