<div class="main">
    <form action="" class="login">
        <h3 class="title">INICIAR SESIÓN</h3>
        <fieldset>
            <input type="hidden" name="_token" id="token" value="alfnlaks">
            <label for="email">Usuario</label>
            <input type="text" name="email" id="email" placeholder="email">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <input type="submit" value="Iniciar sesión" id="submit-login" name="submit-login">
        </fieldset>
    </form>
</div>
