*::selection{
    background-color: #141414;
    color: white;
}

.bar-amount {
    background-color: #ffff;
    width: 700px;
    height: 70px;
    margin: 20px;
    
    font-weight: 600;
    font-size: 1.08rem;
    letter-spacing: 1px;

    display: flex;
    flex-direction: column;
    
}

.title-bar {
    width: fit-content;
    height: 30px;
    position: relative;
    padding: 0 3rem;
    display: flex;
    justify-content: left;
    align-items: center;
    

    clip-path: polygon(20px 0%, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
}

.progres-bar-content {
    width: 100%;
    height: 30px;
    background-color: #EDEDED;
    position: relative;
    color: #ffff;

    clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 100%, 20px 100%);
}

.counter {
    position: absolute;
    padding-left: 2em;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
}

.progress {
    position: absolute;
    left: 0;
    height: 100%;
    width: 75%;
    background-color: #185ADB;
}


@media only screen and (max-width: 980px){
    .bar-amount{
        width: 500px;
    }
}


@media only screen and (max-width: 780px){
    .bar-amount{
        width: 480px;
        height: 100px;
    }
    .title-bar{
        height: auto;
        width: fit-content;
        height: auto;
        position: relative;
        padding: 7px 24px;
    }
    .progress{
        width: 100%;
    }
}

@media only screen and (max-width: 480px){
    .bar-amount{
        width: 340px;
    }
}