* {
    box-sizing: border-box;
    /*margin: 0;*/
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
}

body {
    margin: 0;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.display-middle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}


/*.NoPermiso {
    
}
*/

.main {
    padding-top: 4em;
    /**PADDING para separar el MAIN del footer 55px+el doble(110px) = 165px*/
    padding-bottom: 165px;
}


/*.headerc {
    background: #171717;
    color: #ededed;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
}
*/

.colorprimary {
    background: #171717;
    color: #ededed;
}

.icon {
    height: 2em;
    width: 2em;
    background-color: #959595;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    flex: 0 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: relative;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    /* text-align: center; */
}