<div class="menu-options-container colorprimary">

    <div class="title-company center">
        <h2 class="company-name">REDEGA</h2>
    </div>
    <div class="user-profile center"><i class="fas fa-user-tie"></i><img src="" alt="" style="display: none;" class="user-img"></div>
    <h3 class="menu-title">MENÚ PRINCIPAL</h3>
    <ul class="menu-options">
        <li class="option">
            <a href="" class="option-btn new"><i class="fas fa-plus-square"></i> Nuevo gasto</a>
        </li>
        <li class="option">
            <a href="" class="option-btn query"><i class="fas fa-search"></i> Consultar</a>
        </li>
        <li class="option">
            <a href="" class="option-btn view">
                <i class="fas fa-chart-line"></i> Ver gastos</a>
        </li>
    </ul>
    <h3 class="menu-title">AYUDA</h3>
    <ul class="menu-options">
        <li class="option">
            <a href="" class="option-btn new"><i class="fas fa-question-circle"></i>Soporte</a>
        </li>
    </ul>

</div>

<div class="main-interface">
    <div class="bar-amount center">

        <div class="title-bar colorprimary ">Presupuesto $15,000 MXN</div>
        <div class="progres-bar-content">
            <div class="counter">$10,500 MXN</div>
            <div class="progress"></div>

        </div>
    </div>
    <div class="form"></div>
</div>