<div class="menu-options-container">
    <div class="title-company">
        <h2 class="company-name">REDEGA</h2>
    </div>
    <div class="user-profile"><img src="" alt=""><img src="" alt="" class="user-img"></div>
    <h3 class="menu-title">MENÚ PRINCIPAL</h3>
    <ul class="subtitle-menu-options">
        <li class="option">
            <a href="" class="option-btn new"><i class="fas fa-plus-square"></i> Nuevo gasto</a>
        </li>
        <li class="option">
            <a href="" class="option-btn query"><i class="fas fa-search"></i> Consultar</a>
        </li>
        <li class="option">
            <a href="" class="option-btn view">
                <i class="fas fa-chart-line"></i> Ver gastos</a>
        </li>
    </ul>
    <h3 class="menu-title">AYUDA</h3>
    <ul class="subtitle-menu-options">
        <li class="option">
            <a href="" class="option-btn new">Soporte</a>
        </li>
    </ul>

</div>