.center {
    text-align: center;
}

.menu-options-container {
    position: absolute;
    width: 200px;
    height: 100%;
    color: #ffff;
}

.menu-options-container>div,
.menu-options-container>h3 {
    padding: 1rem;
}

.title-company {}

.company-name,
.menu-title {
    letter-spacing: .15rem;
}

.user-profile {
    margin: 0 auto;
    width: 95px;
    height: 95px;
    background-color: #959595;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile>i {
    font-size: 65px;
}

.user-img {}

.menu-title {
    font-style: italic;
}

.menu-options {
    list-style: none;
}

.option {
    padding: .8rem 1rem;
    transition: all .3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.option>a {
    color: #ffff;
    text-decoration: none;
}

.option i {
    padding: 0 .5rem;
    font-size: 1.5rem;
}

.option:hover {
    background-color: #444444;
}

.option:hover a {
    color: #ededed;
}

.option-btn {}

.new,
.query,
.view {}

.main-interface {
    width: calc(100% - 200px);
    background-color: #ffff;
    height: 100%;
    position: absolute;
    right: 0;
}

.bar-amount {
    background-color: #ffff;
    width: 80%;
    height: 60px;
    margin: 20px auto;
}

.title-bar {
    width: fit-content;
    height: 30px;
    position: relative;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-bar::after {
    content: '';
    height: 0px;
    border-right: 20px solid transparent;
    border-top: 30px solid #ffff;
    position: absolute;
    left: 0;
}

.progres-bar-content {
    width: 100%;
    height: 30px;
    background-color: #EDEDED;
    position: relative;
    color: #ffff;
}

.progres-bar-content::after {
    content: '';
    height: 0px;
    border-left: 20px solid transparent;
    border-top: 30px solid #ffff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.progres-bar-content::before {
    content: '';
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #ffff;
    position: absolute;
    left: 0;
    z-index: 2;
}

.counter {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.progress {
    transition: width .2s ease-in-out;
    height: inherit;
    width: 75%;
    background-color: #185ADB;
    position: absolute;
    left: 0;
}

.form {}

.primary-container .nav-btn,
.secondary-container .nav-btn {
    flex-basis: 6rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: none;
    padding: .7em .4em;
    margin: 0;
    border: none;
    position: relative;
    color: inherit;
    display: flex;
    overflow: hidden;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.primary-container .nav-btn:hover,
.secondary-container .nav-btn:hover {
    background: #646464;
}

.primary-container .nav-btn:active,
.secondary-container .nav-btn:active {
    background: #848484;
}

.nav-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: polygon(0px 0px, 10px 0px, 20px 100%, 10px 100%);
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.nav-btn:hover::after {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}